In [3]:
students=['raghu','vanaja','divya','haritha','kondareddy'] # index 0 1 2 3 4 
print(students)

['raghu', 'vanaja', 'divya', 'haritha', 'kondareddy']

In [4]:
type(students)

list

In [ ]:
#how to acess the elements from the list
# introduction to indexing

In [ ]:
# i want vanaja name as output

In [5]:
print(students[1])

vanaja

In [8]:
print(students[1].title())

Vanaja

In [ ]:
# i want to have divya name as output

In [9]:
print(students[2])

divya

In [ ]:
#want to add new elements to the list

In [10]:
students.append('lakshmi')

In [11]:
print(students)

['raghu', 'vanaja', 'divya', 'haritha', 'kondareddy', 'lakshmi']

In [ ]:
# want to add bhuna in the list

In [12]:
students.append('bhuna')
print(students)

['raghu', 'vanaja', 'divya', 'haritha', 'kondareddy', 'lakshmi', 'bhuna']

In [ ]:
# want to add bhavya to index 2

In [13]:
students.insert(2,'bhavya')
print(students)

['raghu', 'vanaja', 'bhavya', 'divya', 'haritha', 'kondareddy', 'lakshmi', 'bhuna']

In [ ]:
#modify elements in the list 
# i want to modify raghu name with haritha

In [14]:
students[0]='haritha'
print(students)

['haritha', 'vanaja', 'bhavya', 'divya', 'haritha', 'kondareddy', 'lakshmi', 'bhuna']

In [ ]:
#how to delete the element in the list
#want to delet haritha name in the above list    # del is used to pernment delete

In [15]:
del students[0]
print(students)

['vanaja', 'bhavya', 'divya', 'haritha', 'kondareddy', 'lakshmi', 'bhuna']

In [ ]:
#temporary delete ---pop is used to temporary delete and it delets the last element of the list

In [16]:
x=students.pop()
print(students)

['vanaja', 'bhavya', 'divya', 'haritha', 'kondareddy', 'lakshmi']

In [17]:
print(x)

bhuna